:root {
    --background: #262626;
    --gray: #ffffff;
  }
  *,
  *::before
  *::after {
    
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
  }
  .player {
    width: 500px;
    height: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 9px 9px 16px #212121, -9px -9px 16px #212121;
    margin: 40px;
  
  }
  
  img {
    transition: 5s;

    max-width: 50%;
    border-radius: 50%;
    border: 10px solid #373737;
    margin: 15px;


    
  }
  img:hover {
    transition: 5s;
    max-width: 50%;
    border-radius: 50%;
    border: 10px solid #373737;
    margin: 15px;
    box-shadow: 9px 9px 16px #212121, -9px -9px 16px #212121;
    -webkit-transform: translateY(-10px);


    
  }
  
  .container {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  
  
  #btn {
    transition: 2s;

    background: #2f2f2f;
  
  
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
    font-size: 1,25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 100px;
    text-decoration: none;

    border: 5px solid #353535;

    

  
    
  }
  #btn:hover{
    transition: 2s;
    background: #ff7b00;
    border: 5px solid #f96031;

    
  
  
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
    font-size: 1,25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    -webkit-transform: translateY(-10px);
  
  
    
  }

  a {
   margin: 10px;
    color: azure;
    font-size: 20px;
    font-family:  sans-serif;
    /*margin: 40px;*/
    
  
  
  }
  
  
  h2 {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 40px;

  
  }
  h3 {
    color: #ffffff;
    margin-top: 20px;
  
  }